.gradle/
build/
VoltzEngine.txt
output/
whitelist.json
CompiledWith.txt
banned-ips.json
banned-players.json
logs/latest.log
ops.json
mods - Shortcut.lnk
logs/
src/main/scala
src/
changelog.html
debug.txt
gagradle.properties.bak